body {
    font-family: 'rebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.music-player {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}

.music-info {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 60%; 
    width: 60%;
    margin: 10px auto; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.music-info p {
    margin: 5px 0; 
    color: black; 
}

#title {
    font-size: 28px; 
    font-weight: bold;
}

#artist {
    font-size: 22px; 
}

#duration {
    font-size: 18px; 
    opacity: 0.8; 
}

.song-list {
    flex-grow: 1; 
    max-width: 200px; 
    overflow-y: auto;
    padding: 20px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.song-list h3 {
    margin: 0; 
    padding: 15px 0; 
    background-color: rgba(235, 225, 225, 0.5); 
    border-radius: 20px; 
    text-align: center; 
}

.song-list li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.song-list li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.progress-container {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
    height: 10px; 
    width: 60%; 
    margin: 10px auto; 
    position: relative;
}

.progress-bar {
    background-color: #2e85a4; 
    height: 100%;
    width: 0; 
    border-radius: 5px;
}

.player-controls {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 10px; 
}

.player-controls button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#prev::before {
    content: "\25C0"; 
}

#play {
    font-size: 30px; 
    background-color: #2e85a4; 
    border-radius: 50%; 
    color: white; 
    padding: 10px; 
}

#play::before {
    content: "\25B6"; 
}

#pause {
    background-color: #2e85a4;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pause::before {
    content: "\23F8"; 
    font-size: 36px; 
}

#next::before {
    content: "\25B6"; 
}

.player-controls button:hover {
    background-color: #d0d0d0; 
}
